@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


body{
    padding: 0px;
    margin: 0px;
    background-image:url(images/bg3.jpg); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-color: black; */
    /* opacity: 80%; */
}

/* Nav or Header Property */

header{
    background-color: black;
    color: #ffffff;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 5px 0px white;
}

header img{
    height: 7vh;
    
}

header ul{
    width: 42vw;
    display: flex;
    list-style: none;
    font-family: 'Inter', sans-serif;
    letter-spacing: .1rem;
    justify-content: space-around;
}
header ul li{
    padding: 5px;
    font-size: 1rem;
}
header ul li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

header input{
    width: 40vw;
    height: 3vh;
    overflow: hidden;
    font-size: 1rem;
    border: none;
    outline: none;
    background: none;
    color: white;
    border-bottom: white 1px solid;
    float: left;    
    font-family: 'Inter', sans-serif;
}

header ul li a:hover{
    color: whitesmoke;
}
input::placeholder{
    font-family: 'Inter', sans-serif;
    color:white;
}



/* Ambulance call form */

#amb-call{
    color: white;
}

#headi{
     padding-top: 5vh;
    padding-bottom: 4vh;
    text-align: center;
    padding-left: 50vw;
    color: white;
    font-family: sans-serif;
    /* text-align: center;
    color: white;
    
    margin-left: auto;
    width: 100vw;
    margin-right: 20vw; */
}

#amb-pat{
    /* border: 1px solid black; */
    /* width: 50vw; */
    padding-right: 14vw;
    padding-bottom: 5vh;
    float: right;
    /* margin: 0 auto; */
    /* background-color: black; */
    opacity: 90%; 
}

form div{
    padding-top: 1rem;
}

#amb-call label{
    font-size: 1.2rem;
    font-weight: bolder;
    display: inline-block;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    width: 6rem;
    color: white;
}

#amb-pat form div input{
    overflow: hidden;
    border: none;
    outline: none;
    background: none;
    color: white;
    font-weight: bold;
    border-bottom: white 1px solid;
    
}
form{
    background-color: black;
    padding-bottom: 2vh;
    padding-left: 2vh;
    padding-right: 2vh;
    border-radius: 1rem;
}

#submit input{
    border: none;
    outline: none;
    background: none;
    color: white;    
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    color: red;
    border: 2px solid red;
    border-radius: 1rem;
}



/* Footer */
footer{
    display: block;
    padding-top: 5px;
    border-top: 1px solid white;
	width: 100vw;
	height: auto;
	display: flex;
	background-color: black;
	justify-content: space-around;
	border: 1px soild black;
	box-shadow: 2px soild black;
}

footer div{
	font: monospace;
	width: 30vw;
	height: auto;
	color: white;
}
/* 
footer .sty{
	font-size: 2rem;
} */

#contact{
	display: flex;
}
footer ul{
    list-style-type:none;
	padding-bottom: 0.6rem;
	font-size: 1.2rem;
}

div h6{
    border-top: 1px solid #eae5e5;
    box-shadow: 4px white;
    text-align: center;
    color: black;
    background-color: white;
}
